*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Sem01/Demo01/nbproject/private/
/Sem01/Demo01/build/
/Sem01/App01/nbproject/private/
/Sem01/App01/build/
/Sem01/App01/dist/
/Sem01/App01 - copia/build/
/Sem01/App01 - copia/dist/
/Sem01/App01 - copia/nbproject/private/
/Sem01/App02/build/
/Sem01/App02/dist/
/Sem01/App02/nbproject/private/
/Sem01/PrestamoService/nbproject/private/
/Sem01/PrestamoService/build/
/Sem02/PrestamoWeb/nbproject/private/
/Sem02/PrestamoWeb/build/
/Sem02/PrestamoWeb/dist/
/Sem02/PrestamoService/dist/
/Sem04/PrestamoWeb/nbproject/private/
/Sem04/PrestamoService/dist/
/Sem04/PrestamoWeb/build/
/Sem05/EurekaService/nbproject/private/
/Sem05/EurekaService/build/
/Sem06/VentaApp/build/
/Sem06/VentaService/build/
/Sem06/VentaService/nbproject/private/
/Sem06/VentaWeb/build/
/Sem06/VentaService/dist/
/Sem06/VentaWeb/dist/
/Sem06/VentaWeb/nbproject/private/
/Sem09/DemoSpring/nbproject/private/
/Sem09/DemoSpring/build/
/Sem09/DemoSpring2/build/
/Sem09/DemoSpring2/nbproject/private/
/Sem10/DemoSpring/nbproject/private/
/Sem10/DemoSpring2/nbproject/private/
/Sem10/DemoSpring3/nbproject/private/
/Sem10/DemoSpring3/build/
/Sem10/DemoSpring3/dist/
/Sem10/DemoSpringMVC01/nbproject/private/
/Sem10/DemoSpringMVC01/build/
/Sem11/EurekaSpring/nbproject/private/
/Sem11/EurekaSpring/build/
/Sem14/EurekaSpring/dist/